#conteneur {
  display: grid;
  justify-self: center;
  background-color: aquamarine;
  grid-template-areas: 
       "h h h h"
       "n n n n"
       "a m m m"
       "a m m m"
       "a m m m"
       "f f f f";
       font-size: 30px;
       width: 700px;
       height: 850px;
}
#header {
  grid-area: h;
}
#nav {
  grid-area: n;
}
#aside {
  grid-area: a;
}
#main {
  grid-area: m;
}
#footer {
  grid-area: f;
}
.cellule {
  padding: 30px;
  border: 1px solid white
}